/* Style sheet
Orange: EF773B
Yellow: E2D74A
Pink: CF215E
Teal: 0A5F5C
Brown: 2E2E30
*/

body {
  font-family: 'Raleway', sans-serif;
  color: #000;
  line-height: 1.4;
  background-size:cover;
  font-size:14px;
  margin: 0 auto;
}

header {

}

#wrapper {
  	margin: 0 auto;
    width: 960px;
}


.banner {
  width: inherit;
  text-align: center;
}

.banner h1 {
  font-family: 'Monoton', cursive;
  color: #EF773B;
  font-size: 50px;
}

.brand-logo.right.logo {
  font-family:'Monoton', cursive;
}

.homepage-button {
  margin-top: 20px;
}
