/* Style sheet
Orange: EF773B
Yellow: E2D74A
Pink: CF215E
Teal: 0A5F5C
Brown: 2E2E30
*/

/* MEDIA QUERIES */
@media (max-width: 440px;) {
  #wrapper {
    font-size: 2rem;
    position: relative;
    width: 100%;
  }

  

}


/* //////////////////////////////// */

header {

}

#wrapper {
  	margin: 0 auto;
    width: 960px;
}

.banner h1 {
  font-family: 'Monoton', cursive;
  color: #EF773B;
  font-size: 50px;
  width: inherit;
  text-align: center;
}

.brand-logo.right.logo {
  font-family:'Monoton', cursive;
}

.homepage-button {
  margin-top: 20px;
}

.right {
  float: right;
}

.gallery h3 {
  color: #CF215E;
  font-size: 20px;
}
